thead {
    color: red
}
table {
    border: 1px solid black;
}

table tr td, table tr th {
    border: 1px solid black;
    padding: 5px;
}

.productstar {
    height: 18px;
    overflow: hidden;
    white-space: nowrap;
}