<h2>{{pageTitle}}</h2>
<p>Filter: <input type="text" [(ngModel)]='listFilter' /></p>
<br/> Filter by: {{listFilter}}

{{errorMessage}}

<table *ngIf='products && products.length'>
    <thead>
        <tr>
            <th><button (click)='toggleImage()'>{{showImage ? 'hide' : 'Show'}} Image</button></th>
            <th>Product Name</th>
            <th>Product Code</th>
            <th>Price</th>
            <th>Star</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let product of products | productFilter: listFilter'>
            <td><img *ngIf='showImage'
                 [src]='product.img' 
                 [style.width.px]='imageWidth' 
                 [style.height.px]='imageHeight' />
            </td>
            <td><a [routerLink]="['/products', product.id]">{{product.name}}</a></td>
            <td>{{product.code}}</td>
            <td>{{product.price | currency:'USD':true}}</td>
            <td>
                <star-rating 
                    [rating]="product.star"
                    (ratingClicked)="onRatingClicked($event)">
                </star-rating>
            </td>
        </tr>
    </tbody>